<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ciclo-vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ciclo-vida</ion-title>
    </ion-toolbar>
  </ion-header>
  <section>
    <ion-button routerLink="/">
        Ir a Home
    </ion-button>
    {{ gaSer.valor }}
    <ion-button (click) = "gaSer.aumentar()">+</ion-button>
    <ion-button (click) = "gaSer.disminuir()">-</ion-button>
  </section>
</ion-content>
