<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button routerLink="/ciclo-vida">
      Ir a ciclo de vida
    </ion-button>
    <ion-item *ngIf="gaSer.cargando">
      <ion-label>Cargando usuarios...</ion-label>
      <ion-spinner name="dots"></ion-spinner>
    </ion-item>

    {{ gaSer.valor }}
    <ion-list *ngFor="let user of gaSer.usuario">
      
      <ion-item>
        Name: {{ user.name}}
      </ion-item>
      <ion-item>
        User Name: {{ user.username }}
      </ion-item>
      <ion-item>
        Lat: {{ user.address.geo.lat }}
      </ion-item>
    </ion-list>
    <!-- {{ gaSer.usuario | json }} -->
    <!-- <ion-button (click) = "gaSer.aumentar()">+</ion-button>
    <ion-button (click) = "gaSer.disminuir()">-</ion-button> -->
  </div>
</ion-content>
